/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#coment .podpis { float: none; width: 100%; }
		#coment .podpis a { display: inline !important; }
		#coment2 .podpis { float: none; width: 100%; }
		#coment2 .podpis a { display: inline !important; }
		#coment3 .podpis { float: none; width: 100%; }
		#coment3 .podpis a { display: inline !important; }
		#contactform_main li.buttons input { margin-left: 12%; }
		.maps_view { height: 250px; }
		#slider-wrapper object { height: 315px; }
		.main_menu { width: 236px; }
		.ul_list li a { font-size: 11px; }
		.main_menu_top { height: 100px; }
		.logo div { padding: 17px 10px 0; }
		.menu { width: 236px; }
		.menu ul li a.ms_top span { padding: 5px 60px 5px 14px; width: 180px; }
		.menu ul li ul { right: 236px; }
		.footer p { padding: 0px; }
		.footer p br { display: none; }
		.main_menu_button { top: 17px; }
		#tz_options li a { padding: 0px 7px !important; }
		.logo { background-position: 187px -30px; }
		.logo a { font-size: 30px !important; line-height: 35px; }
		} 

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#panel_setting_side { position: absolute !important; top: 30% !important; z-index: 9999999 !important; }
		#coment .podpis { float: none; width: 100%; }
		#coment .podpis a { display: inline !important; }
		#coment2 .podpis { float: none; width: 100%; }
		#coment2 .podpis a { font-size: 9px; display: inline !important; }
		#coment3 .podpis { float: none; width: 100%; }
		#coment3 .podpis a { display: inline !important; }
		#contactform_main li.buttons input { margin-left: 14.5%; }
		#coment2 { margin-left: 0px; }
		#coment3 { margin-left: 0px; }
		.maps_view { height: 200px; }
		.one-third.column.gap21 { display: block; }
		.one-third.column.gap20 { display: none; }
		.camera_caption > div { padding: 5px !important; font-size: 8px !important; line-height: 12px; }
		#slider-wrapper object { height: 240px; }
		div.ppt { display: none !important; }
		.pic.fl.gap { float: none; }
		.pic.fr.gap { margin-left: 0px; float: none; }
		.pic.fr.gap5 { margin-left: 0px; float: none; }
		.pic.fl.gap4 { width: 98.5%; float: none; }
		.menu .menusm1 { display: none; }
		.menu .tinynav { padding: 3px 0 3px; margin: 22px auto 22px auto; width: 80%; direction: ltr; display: block;  }
		.social { margin: 0px; }
		.social.gap { margin-bottom: 10px; }
		.now_page h1 { font-size: 19px !important; line-height: 24px; }
		.now_page h1 span { font-size: 10px; line-height: 14px; }
		.cols3 .col3 br { display: none; }
		.cols3 .col3 { margin-right: 20px; } 
		.content_resize { padding: 0 10px; }
		.img_hover_box.pic:hover .img_hover_overlay { display: none; }
		.prefooter .fcol { margin-right: 20px; }
		.centercol { margin-right: 20px; } 
		.sidebar { margin-right: 20px; }
		.cols4 .col4 { margin-right: 20px; }
		.p404 h2 span, .p404 h2 span em.p404_h2_second_color { font-size: 14px; line-height: 18px; }
		.p404 h2, .p404 h2 em.p404_h2_second_color { font-size: 32px; line-height: 36px; }
		.p404 p, .p404 a { font-size: 16px; line-height: 20px; }
		.cols2.gap .col2 { margin-right: 20px; }
		.cont.gap { box-shadow: none !important; }
		.main_menu { display: none; }
		.main_content { width: 100% !important; }
		.TzPortfolioMedia:hover .TzPortfolioDescription { display: none; }
		.mobileview { display: block; }
		.logo div { padding: 25px 10px 0; }
		.logo div a { font-size: 35px !important; line-height: 40px; }
		.logo p { font-size: 9px; line-height: 12px; }
		.logo { background-position: right -30px; }
		.logo.gap {  background-position: 280px -40px; }
		.main_menu_top { height: 103px; }
		.menu { width: 100%; text-align: left; }
		.copyright { display: block; }
		}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 15.4% !important; }
		.dc_pricingtable06 ul li h3 { font-size: 15px !important; }
		.dc_pricingtable05 ul li h3 { font-size: 15px !important; }
		.dc_pricingtable03 li h2 { font-size: 15px !important; }
		.dc_pricingtable03 li h2.caption { font-size: 11px !important; }
		.col2.big { width: 48.8%; }
		} 
		
		/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
		@media only screen and (max-width: 479px) {
		#coment img { margin-right: 7px; }
		#coment2 img { margin-right: 7px; }
		#coment3 img { margin-right: 7px; }
		#contactform_main li.buttons input { margin-left: 20.5%; } 
		.post_detail { font-size: 9px; line-height: 12px; }
		.post_detail a { font-size: 8px; line-height: 12px; }
		.content_box_padding p { line-height: 15px; }
		#coment { line-height: 16px; }
		#coment2 { line-height: 16px; }
		#coment3 { line-height: 16px; }
		.maps_view { height: 180px; }
		#slider-wrapper object { height: 160px; }
		.footer p { font-size: 9px; line-height: 12px; }
		.menu .tinynav { padding: 2px 0 3px 0; width: 100%; }	
		.col2.big h3 a { font-size: 10px !important; line-height: 12px; }
		.col2.big p { font-size: 10px; line-height: 14px; }
		.post_detail a:hover { font-size: 8px; }
		#coment .podpis a { font-size: 8px; display: inline !important; }
		#coment .podpis {  font-size: 9px; }
		#coment2 .podpis {  font-size: 9px; }
		#coment3 .podpis {  font-size: 9px; }
		#coment .text2 {  font-size: 9px; }
		#coment { font-size: 9px; }
		#coment2 .text2 {  font-size: 9px; }
		#coment3 .text2 {  font-size: 9px; }
		#coment2 .podpis a { font-size: 8px; display: inline !important; }
		#coment3 .podpis a { font-size: 8px; display: inline !important; }
		.now_page h1 { font-size: 14px !important; line-height: 18px; }
		.now_page h1 span { font-size: 10px; line-height: 14px; }
		.cols2 .col2.big { width: 48.2%; float: left; }
		.cols2 .col2.big.last { float: right; }
		.logo.gap {  background-position: 220px -40px; }
		}
		
		
	


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/